/*Colours*/
/*Fonts*/
/*Reset*/
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #081826;
  color: #6492AF;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Adjustments*/
.wrapper {
  width: 70%;
  margin: auto;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*Sub headings*/
.sub-heading {
  font-size: 1.5rem;
  color: #F1F1F1;
  position: relative;
  margin-bottom: 4rem;
}

.sub-heading span {
  color: #2081BE;
  font-size: 1.2rem;
  font-weight: normal;
}

.sub-heading::before {
  content: "";
  display: block;
  width: 50px;
  height: 1.5px;
  background-color: #0bb3d97e;
  position: absolute;
  left: -30%;
  top: 50%;
}

.sub-heading::after {
  content: "";
  display: block;
  width: 50px;
  height: 1.5px;
  background-color: #0bb3d97e;
  position: absolute;
  right: -30%;
  top: 50%;
}

/*Navigation*/
nav {
  z-index: 5;
  background-color: #081826;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

nav .nav-container {
  height: 4rem;
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*hamburger*/
}

nav .nav-container .logo {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.2rem;
}

nav .nav-container .logo .color-name {
  color: #07DBF2;
}

nav .nav-container li a span {
  font-size: 8px;
  color: #07DBF2;
  margin-right: 0.3rem;
}

nav .nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-container ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
  color: #2081BE;
}

nav .nav-container ul li a:hover {
  color: #07DBF2;
  text-decoration: underline;
}

nav .nav-container .hamburger {
  display: none;
  cursor: pointer;
}

nav .nav-container .hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #2081BE;
}

/*--MEDIA QUERIES--*/
@media only screen and (max-width: 700px) {
  /*Navigation*/
  nav .nav-container {
    width: 90%;
    /*Hamburger*/
  }
  nav .nav-container .nav-menu {
    background-color: #081826;
    position: fixed;
    left: -100%;
    top: 60px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  nav .nav-container .nav-menu li a {
    margin: 0.8rem 0;
  }
  nav .nav-container .nav-menu li .last-link {
    margin-bottom: 1.4rem;
  }
  nav .nav-container .nav-menu.active {
    left: -0.5px;
  }
  nav .nav-container .hamburger {
    display: block;
  }
  nav .nav-container .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  nav .nav-container .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  nav .nav-container .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

/*Header*/
header {
  top: 20px;
  opacity: 0.1;
  position: relative;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

header .heading-container {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .heading-container span {
  color: #2081BE;
}

header h1 {
  color: #F1F1F1;
  font-size: 4rem;
}

header h2 {
  margin-bottom: 4rem;
  font-size: 1.9rem;
}

header h2 span {
  color: #07DBF2;
}

/*About*/
.about {
  top: 10px;
  opacity: 0.2;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  margin-bottom: 15rem;
}

.about .about-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about .about-content-text {
  margin-bottom: 2rem;
}

.about .about-content-text span {
  color: #07DBF2;
}

.about .picture {
  background-image: url("../../img/profilbildet-optimert.jpg");
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
  border: 3px solid #0BB3D9;
  -webkit-box-shadow: 0 5px 10px #00000049;
          box-shadow: 0 5px 10px #00000049;
  position: relative;
}

.about .layer {
  background-color: #0bb3d9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.about .layer:hover {
  opacity: 0;
}

.about .picture-frame {
  margin-left: 1rem;
  border: 3px solid #07DBF2;
  background-color: #07DBF2;
  padding: 0.5rem;
  -webkit-box-shadow: 0 5px 10px #00000049;
          box-shadow: 0 5px 10px #00000049;
  position: relative;
  top: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.about .picture-frame:hover {
  top: 0px;
  background-color: #07daf283;
  border: 3px solid #0BB3D9;
}

/*Experience*/
.experience-bg {
  background-color: #053259;
}

.experience {
  right: 10px;
  opacity: 0.2;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  text-align: center;
  padding: 8rem 0;
}

.experience > * {
  margin-bottom: 3rem;
}

.experience .experience-heading span {
  color: #07DBF2;
}

.experience .developer-container i {
  margin: 0 1rem;
}

.experience i {
  color: #07DBF2;
  font-size: 2rem;
}

.experience .text-blue {
  color: #2081BE;
}

.experience .experience-container {
  width: 500px;
}

.experience .experience-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  border-bottom: 2px solid #2081BE;
  padding-bottom: 4px;
}

.experience .experience-row p {
  color: #F1F1F1;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  top: 2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.experience .experience-row p:hover {
  top: -2px;
  color: #07DBF2;
  text-shadow: 0 3px 6px #07daf25b;
}

/*Projects*/
.projects {
  left: 10px;
  opacity: 0.2;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  padding: 8rem 0;
}

.projects a {
  color: #6492AF;
  display: inline-block;
}

.projects .projects-container {
  margin-bottom: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .card-link, .projects .socials-container {
  padding: 0 1.5rem;
}

.projects .card-link {
  padding-top: 1.5rem;
  height: 100%;
}

.projects .card-title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

.projects .card-title-container h4 {
  color: #F1F1F1;
  font-size: 1.2rem;
  font-weight: normal;
  margin-right: 0.5rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.projects .card-title-container i {
  color: #07DBF2;
  position: relative;
  right: 15px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.projects .socials-container {
  padding-bottom: 1.5rem;
}

.projects .socials-container i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.projects .socials-container i:hover {
  color: #07DBF2;
}

.projects .project-card {
  margin: 2rem 0.5rem 0rem 0.5rem;
  background-color: #053259;
  height: 280px;
  width: 260px;
  -webkit-box-shadow: 0 5px 10px #00000049;
          box-shadow: 0 5px 10px #00000049;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  top: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.projects .project-card:hover {
  top: -7px;
  background-color: #042b4d;
}

.projects .project-card:hover .card-title-container h4 {
  color: #07DBF2;
}

.projects .project-card:hover .card-title-container i {
  right: -5px;
  opacity: 1;
}

.projects .button-container .button {
  width: 130px;
  text-align: center;
  margin: 0 1rem;
  color: #07DBF2;
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-box-shadow: 0 5px 10px #00000049;
          box-shadow: 0 5px 10px #00000049;
  padding: 1rem;
  border: 2px solid #07DBF2;
  background-color: #07daf200;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  top: 5px;
}

.projects .button-container .button:hover {
  top: -2px;
  border-color: #0BB3D9;
  background-color: #07daf2;
  color: #081826;
}

/*Contact*/
.contact {
  bottom: 10px;
  opacity: 0.2;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  padding: 4rem 0 8rem 0;
  text-align: center;
}

.contact i {
  font-size: 1.5rem;
}

.contact h3 {
  margin-bottom: 2rem;
}

.contact .description-container {
  margin-bottom: 4rem;
}

.contact .contact-container {
  color: #2081BE;
  margin-bottom: 3rem;
}

.contact .contact-container > * {
  margin-bottom: 2rem;
}

.contact .socials-container a {
  color: #6492AF;
}

.contact .socials-container a:hover {
  color: #07DBF2;
}

.contact .socials-container > * {
  margin: 0 0.5rem;
}

.contact .copyright {
  margin-top: 4rem;
}

/*Project List*/
.project-wrapper {
  width: 70%;
  margin: 0 auto;
  padding: 4rem 0;
}

.project-wrapper .title-row {
  padding: 1rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  color: #2081BE;
  font-weight: bold;
  margin-bottom: 2rem;
}

.project-wrapper .title-row > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.project-wrapper .project-row {
  background-color: #05325900;
  border: 2px solid #053259;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
  position: relative;
  top: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.project-wrapper .project-row:hover {
  background-color: #053259;
  top: -1px;
}

.project-wrapper .project-row > * {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #6492AF;
  display: inline-block;
  padding: 1rem 0;
}

.project-wrapper .project-row > *:hover {
  color: #07DBF2;
  text-decoration: underline;
}

.project-wrapper .project-row i {
  font-size: 1.5rem;
}

/*--ANIMATIONS--*/
.bullet {
  background-color: white;
  height: 2px;
}

.bullet1 {
  position: relative;
  left: 2%;
  top: 0px;
  width: 25%;
  background-color: #07DBF2;
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.bullet2 {
  position: relative;
  left: 150px;
  top: 100px;
  width: 20%;
  background-color: #2081BE;
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.bullet3 {
  position: relative;
  left: 4%;
  top: 200px;
  width: 30%;
  background-color: #6492AF;
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 700px) {
  .project-wrapper {
    width: 95%;
  }
}
/*# sourceMappingURL=style.css.map */