/*Header*/
header {
    top: 20px;
    opacity: 0.1;
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.7s;
    .heading-container {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
    }
    .heading-container span {
        color: $color-light-blue;
    }
    h1 {
        color: $color-white;
        font-size: 4rem;
    }
    h2 {
        margin-bottom: 4rem;
        font-size: 1.9rem;
    }
    h2 span {
        color: $color-hover-blue;
    }
}

/*About*/
.about {
    top: 10px;
    opacity: 0.2;
    position: relative;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
    margin-bottom: 15rem;
    .about-content {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .about-content-text {
        margin-bottom: 2rem;
    }
    .about-content-text span {
        color: $color-hover-blue;
    }
    .picture {
        background-image: url("../../img/profilbildet-optimert.jpg");
        background-size: cover;
        background-position: center;
        width: 300px;
        height: 300px;
        border: 3px solid $color-border-blue;
        box-shadow: 0 5px 10px #00000049;
        position: relative;
    }
    .layer {
        background-color: #0bb3d9;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: all 0.2s ease-in-out;
        &:hover {
            opacity: 0;
        }
    }
    .picture-frame {
        margin-left: 1rem;
        border: 3px solid $color-hover-blue;
        background-color: #07DBF2;
        padding: 0.5rem;
        box-shadow: 0 5px 10px #00000049;
        position: relative;
        top: 5px;
        transition: all 0.2s ease-in-out;
        &:hover {
            top: 0px;
            background-color: #07daf283;
            border: 3px solid $color-border-blue;
        }
    }
}

/*Experience*/
.experience-bg {
    background-color: $color-dark-blue;
}
.experience {
    right: 10px;
    opacity: 0.2;
    position: relative;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
    text-align: center;
    padding: 8rem 0;
    & > * {
        margin-bottom: 3rem;
    }
    .experience-heading span {
        color: $color-hover-blue;
    }
    .developer-container i {
        margin: 0 1rem;
    }
    i {
        color: $color-hover-blue;
        font-size: 2rem;
    }
    .text-blue {
        color: $color-light-blue;
    }
    .experience-container {
        width: 500px;
    }
    .experience-row {
        display: flex;
        margin-bottom: 1rem;
        border-bottom: 2px solid $color-light-blue;
        padding-bottom: 4px;
    }
    .experience-row p {
        color: $color-white;
        flex: 1;
        position: relative;
        top: 2px;
        transition: all 0.1s ease-in-out;
        &:hover {
            top: -2px;
            color: $color-hover-blue;
            text-shadow: 0 3px 6px #07daf25b;
        }
    }
}

/*Projects*/
.projects {
    left: 10px;
    opacity: 0.2;
    position: relative;
    transition: all 0.3s;
    transition-delay: 0.3s;
    padding: 8rem 0;
    a {
        color: $color-text;
        display: inline-block;
    }
    .projects-container {
        margin-bottom: 8rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card-link, .socials-container {
        padding: 0 1.5rem;
    }
    .card-link {
        padding-top: 1.5rem;
        height: 100%;
    }
    .card-title-container {
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
    }
    .card-title-container h4 {
        color: $color-white;
        font-size: 1.2rem;
        font-weight: normal;
        margin-right: 0.5rem;
        transition: all 0.2s ease-in-out;
    }
    .card-title-container i {
        color: $color-hover-blue;
        position: relative;
        right: 15px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
    }
    .socials-container {
        padding-bottom: 1.5rem;
    }
    .socials-container i {
        font-size: 1.5rem;
        margin-right: 0.5rem;
        &:hover {
            color: $color-hover-blue;
        }
    }
    .project-card {
        margin: 2rem 0.5rem 0rem 0.5rem;
        background-color: $color-dark-blue;
        height: 280px;
        width: 260px;
        box-shadow: 0 5px 10px #00000049;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        top: 10px;
        transition: all 0.2s ease-in-out;
        &:hover {
            top: -7px;
            background-color: #042b4d;
        }
        &:hover .card-title-container h4 {
            color: $color-hover-blue;
        }
        &:hover .card-title-container i {
            right: -5px;
            opacity: 1;
        }
    }
    .button-container .button {
        width: 130px;
        text-align: center;
        margin: 0 1rem;
        color: $color-hover-blue;
        font-size: 1.2rem;
        font-weight: bold;
        box-shadow: 0 5px 10px #00000049;
        padding: 1rem;
        border: 2px solid $color-hover-blue;
        background-color: #07daf200;
        position: relative;
        transition: all 0.2s ease-in-out;
        top: 5px;
        &:hover {
            top: -2px;
            border-color: $color-border-blue;
            background-color: #07daf2;
            color: $color-bg-blue;
        }
    }
}

/*Contact*/
.contact {
    bottom: 10px;
    opacity: 0.2;
    position: relative;
    transition: all 0.3s ease-in-out;
    transition-delay: 0.3s;
    padding: 4rem 0 8rem 0;
    text-align: center;
    i {
        font-size: 1.5rem;
    }
    h3 {
        margin-bottom: 2rem;
    }
    .description-container {
        margin-bottom: 4rem;
    }
    .contact-container {
        color: $color-light-blue;
        margin-bottom: 3rem;
        & > * {
            margin-bottom: 2rem;
        }
    }
    .socials-container a {
        color: $color-text;
        &:hover {
            color: $color-hover-blue;
        }
    }
    .socials-container > * {
        margin: 0 0.5rem;
    }
    .copyright {
        margin-top: 4rem;
    }
}

/*Project List*/
.project-wrapper {
    width: 70%;
    margin: 0 auto;
    padding: 4rem 0;
    .title-row {
        padding: 1rem 0rem;
        display: flex;
        text-align: center;
        color: $color-light-blue;
        font-weight: bold;
        margin-bottom: 2rem;
    }
    .title-row > * {
        flex: 1;
    }
    .project-row {
        background-color: #05325900;
        border: 2px solid $color-dark-blue;
        display: flex;
        text-align: center;
        align-items: center;
        margin-bottom: 1rem;
        position: relative;
        top: 5px;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: $color-dark-blue;
            top: -1px;
        }
    }
    .project-row > * {
        flex: 1;
        color: $color-text;
        display: inline-block;
        padding: 1rem 0;
        &:hover {
            color: $color-hover-blue;
            text-decoration: underline;
        }
    }
    .project-row i {
        font-size: 1.5rem;
    }
}

/*--ANIMATIONS--*/
.bullet {
    background-color: white;
    height: 2px;
}
.bullet1 {
    position: relative;
    left: 2%;
    top: 0px;
    width: 25%;
    background-color: $color-hover-blue;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    transition-delay: 0.5s;
}
.bullet2 {
    position: relative;
    left: 150px;
    top: 100px;
    width: 20%;
    background-color: $color-light-blue;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    transition-delay: 0.5s;
}
.bullet3 {
    position: relative;
    left: 4%;
    top: 200px;
    width: 30%;
    background-color: $color-text;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    transition-delay: 0.5s;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 700px) {
    .project-wrapper {
        width: 95%;
    }
}