/*Colours*/
$color-white: #F1F1F1;
$color-hover-blue: #07DBF2;
$color-border-blue: #0BB3D9;
$color-light-blue: #2081BE;
$color-dark-blue: #053259;
$color-bg-blue: #081826;
$color-text: #6492AF;

/*Fonts*/
$font-sans-serif: 'Roboto', sans-serif;
$font-serif: 'Merriweather', serif;